<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE image/svg+xml

    DeflateCompressionLevel 6
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|zip|bz2|rar)$ no-gzip dont-vary
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 2 hours"
    ExpiresByType application/json "access plus 10 minutes"
    ExpiresByType application/javascript "access plus 1 day"
    ExpiresByType text/css "access plus 1 day"
    ExpiresByType image/svg+xml "access plus 30 days"
    ExpiresByType image/png "access plus 30 days"
    ExpiresByType image/jpeg "access plus 30 days"
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "public, must-revalidate"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>

<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/javascript application/rss+xml application/vnd.ms-fontobject image/svg+xml text/css text/html text/javascript text/plain text/xml
    </IfModule>
</IfModule>

FileETag MTime Size
